@import 'bower_components/vui-colors/colors.scss';

@mixin vui-label() {
	color: $vui-color-ferrite;
	cursor: default;
	display: block;
	font-size: 0.7rem;
	margin-bottom: 0.75rem;
	width: 100%;
}

@mixin vui-label-required() {

	&:after {
		content: '*';
		position: relative;
	}

}
